body{
	margin: 0 0 0 0;
	width: 100%;	
}

.bagatas{
	margin: 0 5%;
}

ul{
	display: flex;
	list-style: none; 
}

li a{
	margin: 0;	
	font-size: 23px;
	text-align: center;
}

.a{
	text-decoration: none;
	color: black;
	display: block;
	width: 100px;
}